<h1>Welcome to Game Shope Uzone!</h1>
<br />
<br />
<div class="row">
  <h3 *ngIf="error" class="text-danger"> {{error}}</h3>
  <h3 class="text-success" *ngIf="addedToCart">Game added to cart</h3>
  <div class="col-md-4" *ngFor="let game of games">
    <div class="jumbotron">
      <p><a href="/games/{{game.id}}">{{ game.title }}</a></p>
      <img alt="Alternate Text" class="img-responsive" src="{{game.imageUrl}}" style="height:300px" />
      <br />
      <p>{{game.price}} $ <span><button class="btn btn-sm btn-success" (click)="buy(game.id)">Add to cart</button></span></p>
    </div>
  </div>
</div>
